<footer class="site-footer">
  <div class="container">
    <small class="pull-left">除非另有声明，本网站采用<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/cn/deed.zh">知识共享“署名-非商业性使用-相同方式共享 3.0 中国大陆”许可协议</a>. Made with ♥</small>
    <small class="pull-right">by <a href="http://onepan.cn">oenpan.cn</a>
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1260802067'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260802067' type='text/javascript'%3E%3C/script%3E"));</script>
    </small>
  </div>
</footer>
