#filterList{
  background-color: #F6F6F6;
  margin-top: 5rem;
  padding: 0;
  font-size: 2rem;
  box-shadow: 0 0 10px #999;
  
  li{
		height: 5rem;
		line-height: 5rem;
		border-bottom: 2px solid #DDDDDD;
		padding-left: 2rem;
		
		&.current{
			background-color: #1C3340;
		}
		
		&:hover:not(.current){
			background-color: white;
			cursor: pointer;
		}
  }
  
  a,a:visited,a:hover{
	text-decoration: none;
	color: #337ab7;
  }
}

.tagCnt, .cateCnt {
  float: right;
  font-size: 1.5rem;
  margin-right: 1rem;
  background-color: #F6F6F6;
  height: 50%;
  height: 2rem;
  width: 2rem;
  margin-top: 1.5rem;
  text-align: center;
  line-height: 2rem;
  box-shadow: 0 0 3px #1C3340;
  border-radius: 50%;
}